<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color="secondary">
  <form [formGroup] = "user" color="secondary">
      <ion-list color="secondary">
          <ion-item color="secondary">
            <ion-label position="floating" color="primary" >Username</ion-label>
            <ion-input type="text" formControlName="username" color="secondary"></ion-input>
          </ion-item>

          <div class="validations" color="secondary">
            <ng-container *ngFor="let error of error_messages.username" color="secondary" >
              <div class="error" *ngIf="user.get('username').hasError(error.type) && (user.get('username').dirty || user.get('username').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>

          <ion-item color="secondary">
            <ion-label position="floating" color="primary" >Password</ion-label>
            <ion-input type="password" formControlName="password" color="primary"></ion-input>
          </ion-item>

          <div class="validations" color="secondary" >
            <ng-container *ngFor="let error of error_messages.password" color="secondary">
              <div class="error"  color="secondary" *ngIf="user.get('password').hasError(error.type) && (user.get('password').dirty || user.get('password').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>

        </ion-list>
        <br>
        <ion-button expand="block" class="btn buttom" [disabled]="!user.valid" (click)="onLogin()" shape="round" disabled>Login</ion-button>
        <br>
        <p style="text-align: center; font-size: 0.8em; color: black ;" >Don't have an account ?</p>
        <ion-button expand="block" (click)="onSignup()"  shape="round" fill="clear" class="btn buttom" >SignUp</ion-button>
  </form>
  
</ion-content>
