<ion-header>

  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">

  <!-- <ion-refresher slot="fixed" (ionRefresh)="loadImage(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher> -->


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="takePhoto()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngFor="let img of user_images" >
    <ion-card *ngIf="(img.user_id == uid)">

      <ion-item-sliding>
        <ion-item>
          <ion-icon name="list"></ion-icon>
        </ion-item>
        <ion-item-options side="end" class="optionsize">
          <ion-item-option (click)="remove(img)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-card-header>
        <!-- <ion-card-subtitle> </ion-card-subtitle> the location of the photo --> <!-- title of the photo -->
      </ion-card-header>
      <img [src]="img.path" alt="">
      <!-- <img src="../../assets/imgs/1.jpg" /> -->
    </ion-card>  
    
  </ion-grid>

</ion-content>