<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" class="buttom">
      <ion-button (click)="logout() " class="buttom">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar (click)= "ChangeName()" >
      Change Name
      <ion-input placeholder="Enter The New Name" *ngIf="this.changename"></ion-input>
      <ion-button horizontal="end" *ngIf="this.changename" (click)="NameChanged()">Done</ion-button>
    </ion-toolbar>  
    
    <ion-toolbar (click)= "ChangePass()">
      Change Password
      <ion-input placeholder="Enter The New Password" *ngIf="this.changepass"></ion-input>
      <ion-button horizontal="end" *ngIf="this.changepass" (click)="PassChanged()">Done</ion-button>
    </ion-toolbar>




</ion-content>
